<div class="container">
  <h2>Delicacies</h2>
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="...">
        <ul class="pager">
          <li><%= link_to "Prev", admin_restaurant_path(@restaurant.prev) if @restaurant.prev %></li>
          <li><%= link_to '✪ Index', admin_restaurants_path %></li>
          <li><%= link_to 'Next', admin_restaurant_path(@restaurant.next) if @restaurant.next %></li>
        </ul>
      </nav>
      <hr>

      <div class="col-md-offset-1 overlay-b">
        <div class="show-block text-center">
          <div class="show-name">
            <h2 class="word-wt"><%= @restaurant.name %></h2>
            <p class="label label-default"><%= @restaurant.category.name %></p>
          </div>
          <div>
            <%= link_to 'Edit', edit_admin_restaurant_path(@restaurant), class: "btn btn-warning btn-xs" %>
                  <%= link_to 'Delete', admin_restaurant_path(@restaurant), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <p class="word-wt">--------------------------------------</br>
          Opening Hour: <%= @restaurant.opening_hour %><br>
          Tel: <%= @restaurant.tel%><br>
          Address: <%= @restaurant.address%><br>
          --------------------------------------</p>
          <p class="word-wt"><strong>Restaurant Photo:</strong></p>
          <%= image_tag @restaurant.image, width: '400px' %><br>
          <p class="word-wt"><br>------------------------------------------------</p>
          <div class= "word-wt show-block-des">
            <%= @restaurant.description %><br><br>
          </div>
        </div>
      </div>
      <hr>
      <nav aria-label="...">
          <ul class="pager">
            <li><%= link_to "← Older", admin_restaurant_path(@restaurant.prev) if @restaurant.prev %></li>
            <li><%= link_to 'Newer →', admin_restaurant_path(@restaurant.next), class: "pager-newer" if @restaurant.next  %></li>
          </ul>
      </nav>
      <br><br>

    </div>
    
  </div>
</div>




