<div class="container">
  <h2>Delicacies</h2>
  <div class="row">
    <div class="col-md-12">
      <nav aria-label="...">
        <ul class="pager">
          <li><%= link_to "Prev", restaurant_path(@restaurant.prev) if @restaurant.prev %></li>
          <li><%= link_to '✪ Index', restaurants_path %></li>
          <li><%= link_to 'Next', restaurant_path(@restaurant.next) if @restaurant.next %></li>
        </ul>
      </nav>
      <hr>
      
      <!---------  Show Section ------------->
      <div class="col-md-offset-1 overlay-b">
        <div class="show-block text-center">
          <div class="show-name">
            <h2 class="word-wt"><%= @restaurant.name %></h2>
            <p class="label label-default"><%= @restaurant.category.name %></p>
          </div>
          <div>
            <%= link_to 'Edit', edit_admin_restaurant_path(@restaurant), class: "btn btn-warning btn-xs" %>
                  <%= link_to 'Delete', admin_restaurant_path(@restaurant), class: "btn btn-danger btn-xs", method: :delete, data: {confirm: "Are you sure?"} %>
          </div>
          <p class="word-wt">--------------------------------------</br>
          Opening Hour: <%= @restaurant.opening_hour %><br>
          Tel: <%= @restaurant.tel%><br>
          Address: <%= @restaurant.address%><br>
          --------------------------------------</p>
          <p class="word-wt"><strong>Restaurant Photo:</strong></p>
          <% for img_id in 0..20 %>
            <% if image_path(@restaurant.image).include?('/'+img_id.to_s+'.jpg') %>
              <%= image_tag('/seed-img/'+img_id.to_s+'.jpg', width: '400px') %>
            <% end %>  
          <% end %>
          <p class="word-wt"><br>------------------------------------------------</p>
          <div class= "word-wt show-block-des">
            <%= @restaurant.description %><br><br>
          </div>
        </div>

        <hr>
        
        <!----------- Comment Section ------------>
        <div class="show-comment">
          <%= form_for [@restaurant, @comment] do |f| %>
            <div class="form-group">
              <%= f.text_area :content, placeholder: "Leave your comments?", class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.submit class: "btn" %>
              <%= f.button "Cancel", type: :reset, class: "btn" %>
            </div>
          <% end %>
        </div>
        <!---------- Show Comments Section --------->

        <% @restaurant.comments.each do |comment| %>
        <div class="comment-block">
          <h4><%= comment.user.email.split('@').first %></h4>
          <p><%= simple_format comment.content %></p>
          <p class="text-muted">
            <em><%= time_ago_in_words(comment.created_at) %> ago -</em>
            <%= link_to 'Delete', restaurant_comment_path(@restaurant, comment), method: :delete, data: {confirm: "Are you sure?"} if current_user.admin? || current_user == comment.user %>
          </p>
        </div>
        <% end %>

      </div>
      <hr>
      <nav aria-label="...">
          <ul class="pager">
            <li><%= link_to "← Older", restaurant_path(@restaurant.prev) if @restaurant.prev %></li>
            <li><%= link_to 'Newer →', restaurant_path(@restaurant.next), class: "pager-newer" if @restaurant.next  %></li>
          </ul>
      </nav>
      <br><br>

    </div>
    
  </div>
</div>




