<!DOCTYPE html>
<html>
  <head>
    <title>Gourmetsmap</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Belleza" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  </head>

  <body>


      <!-- 導覽列 -->
      <%= render partial: "shared/navbar" %>

      <% if flash[:notice] %>

        <div class="alert alert-success alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= notice %></strong>
        </div>

      <% end %>

      <% if flash[:alert] %>

        <div class="alert alert-warning alert-dismissible" role="alert">
          <button class="close" type="button" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <strong><%= alert %></strong>
        </div>

      <% end %>
    
    <div id="bg">
      <%= image_tag "console-background.jpg" %>
    </div>
    <%= yield %>
    
  </body>
</html>
